[Desktop Entry]
Version=1.0
Name=Avahi Zeroconf Browser
Name[bg]=Avahi Zeroconf Browser
Name[ca]=Avahi Zeroconf Browser
Name[cs]=Avahi Zeroconf Browser
Name[da]=Avahi Zeroconf Browser
Name[de]=Avahi Zeroconf Browser
Name[el]=Avahi Zeroconf Browser
Name[en_GB]=Avahi Zeroconf Browser
Name[en_NZ]=Avahi Zeroconf Browser
Name[es]=Avahi Zeroconf Browser
Name[et]=Avahi Zeroconf Browser
Name[fa]=Avahi Zeroconf Browser
Name[fi]=Avahi Zeroconf Browser
Name[fo]=Avahi Zeroconf Browser
Name[fr]=Avahi Zeroconf Browser
Name[gl]=Avahi Zeroconf Browser
Name[he]=Avahi Zeroconf Browser
Name[hu]=Avahi Zeroconf Browser
Name[id]=Avahi Zeroconf Browser
Name[it]=Avahi Zeroconf Browser
Name[ja]=Avahi Zeroconf Browser
Name[lv]=Avahi Zeroconf Browser
Name[nl]=Avahi Zeroconf Browser
Name[oc]=Avahi Zeroconf Browser
Name[pl]=Avahi Zeroconf Browser
Name[pt_BR]=Avahi Zeroconf Browser
Name[ro]=Avahi Zeroconf Browser
Name[ru]=Avahi Zeroconf Browser
Name[sk]=Avahi Zeroconf Browser
Name[sl]=Avahi Zeroconf Browser
Name[sr]=Avahi Zeroconf Browser
Name[sr@latin]=Avahi Zeroconf Browser
Name[sv]=Avahi Zeroconf Browser
Name[tr]=Avahi Zeroconf Browser
Name[uk]=Avahi Zeroconf Browser
Name[zh_CN]=Avahi Zeroconf Browser
Name[zh_TW]=Avahi Zeroconf Browser
Comment=Browse for Zeroconf services available on your network
Comment[ar]=Browse for Zeroconf services available on your network
Comment[bg]=Browse for Zeroconf services available on your network
Comment[ca]=Browse for Zeroconf services available on your network
Comment[cs]=Browse for Zeroconf services available on your network
Comment[da]=Browse for Zeroconf services available on your network
Comment[de]=Browse for Zeroconf services available on your network
Comment[el]=Browse for Zeroconf services available on your network
Comment[en_GB]=Browse for Zeroconf services available on your network
Comment[en_NZ]=Browse for Zeroconf services available on your network
Comment[es]=Browse for Zeroconf services available on your network
Comment[et]=Browse for Zeroconf services available on your network
Comment[fa]=Browse for Zeroconf services available on your network
Comment[fi]=Browse for Zeroconf services available on your network
Comment[fo]=Browse for Zeroconf services available on your network
Comment[fr]=Browse for Zeroconf services available on your network
Comment[gl]=Browse for Zeroconf services available on your network
Comment[he]=Browse for Zeroconf services available on your network
Comment[hu]=Browse for Zeroconf services available on your network
Comment[id]=Browse for Zeroconf services available on your network
Comment[it]=Browse for Zeroconf services available on your network
Comment[ja]=Browse for Zeroconf services available on your network
Comment[lv]=Browse for Zeroconf services available on your network
Comment[nl]=Browse for Zeroconf services available on your network
Comment[oc]=Browse for Zeroconf services available on your network
Comment[pl]=Browse for Zeroconf services available on your network
Comment[pt_BR]=Browse for Zeroconf services available on your network
Comment[ro]=Browse for Zeroconf services available on your network
Comment[ru]=Browse for Zeroconf services available on your network
Comment[sk]=Browse for Zeroconf services available on your network
Comment[sl]=Browse for Zeroconf services available on your network
Comment[sr]=Browse for Zeroconf services available on your network
Comment[sr@latin]=Browse for Zeroconf services available on your network
Comment[sv]=Browse for Zeroconf services available on your network
Comment[tr]=Browse for Zeroconf services available on your network
Comment[uk]=Browse for Zeroconf services available on your network
Comment[zh_CN]=Browse for Zeroconf services available on your network
Comment[zh_TW]=Browse for Zeroconf services available on your network
Exec=/usr/bin/avahi-discover
Terminal=false
Type=Application
Icon=network-wired
Categories=GNOME;System;
StartupNotify=false
Hidden=true

