[Desktop Entry]
Version=1.0
Name=Avahi VNC Server Browser
Name[bg]=Avahi VNC Server Browser
Name[ca]=Avahi VNC Server Browser
Name[da]=Avahi VNC Server Browser
Name[de]=Avahi VNC Server Browser
Name[el]=Avahi VNC Server Browser
Name[en_GB]=Avahi VNC Server Browser
Name[en_NZ]=Avahi VNC Server Browser
Name[es]=Avahi VNC Server Browser
Name[et]=Avahi VNC Server Browser
Name[fi]=Avahi VNC Server Browser
Name[fo]=Avahi VNC Server Browser
Name[fr]=Avahi VNC Server Browser
Name[gl]=Avahi VNC Server Browser
Name[hu]=Avahi VNC Server Browser
Name[id]=Avahi VNC Server Browser
Name[it]=Avahi VNC Server Browser
Name[ja]=Avahi VNC Server Browser
Name[lv]=Avahi VNC Server Browser
Name[nl]=Avahi VNC Server Browser
Name[oc]=Avahi VNC Server Browser
Name[pl]=Avahi VNC Server Browser
Name[pt_BR]=Avahi VNC Server Browser
Name[ro]=Avahi VNC Server Browser
Name[ru]=Avahi VNC Server Browser
Name[sk]=Avahi VNC Server Browser
Name[sl]=Avahi VNC Server Browser
Name[sr]=Avahi VNC Server Browser
Name[sr@latin]=Avahi VNC Server Browser
Name[sv]=Avahi VNC Server Browser
Name[tr]=Avahi VNC Server Browser
Name[uk]=Avahi VNC Server Browser
Name[zh_CN]=Avahi VNC Server Browser
Name[zh_TW]=Avahi VNC Server Browser
Comment=Browse for Zeroconf-enabled VNC Servers
Comment[bg]=Browse for Zeroconf-enabled VNC Servers
Comment[ca]=Browse for Zeroconf-enabled VNC Servers
Comment[da]=Browse for Zeroconf-enabled VNC Servers
Comment[de]=Browse for Zeroconf-enabled VNC Servers
Comment[el]=Browse for Zeroconf-enabled VNC Servers
Comment[en_GB]=Browse for Zeroconf-enabled VNC Servers
Comment[en_NZ]=Browse for Zeroconf-enabled VNC Servers
Comment[es]=Browse for Zeroconf-enabled VNC Servers
Comment[et]=Browse for Zeroconf-enabled VNC Servers
Comment[fi]=Browse for Zeroconf-enabled VNC Servers
Comment[fo]=Browse for Zeroconf-enabled VNC Servers
Comment[fr]=Browse for Zeroconf-enabled VNC Servers
Comment[gl]=Browse for Zeroconf-enabled VNC Servers
Comment[hu]=Browse for Zeroconf-enabled VNC Servers
Comment[id]=Browse for Zeroconf-enabled VNC Servers
Comment[it]=Browse for Zeroconf-enabled VNC Servers
Comment[ja]=Browse for Zeroconf-enabled VNC Servers
Comment[lv]=Browse for Zeroconf-enabled VNC Servers
Comment[nl]=Browse for Zeroconf-enabled VNC Servers
Comment[oc]=Browse for Zeroconf-enabled VNC Servers
Comment[pl]=Browse for Zeroconf-enabled VNC Servers
Comment[pt_BR]=Browse for Zeroconf-enabled VNC Servers
Comment[ro]=Browse for Zeroconf-enabled VNC Servers
Comment[ru]=Browse for Zeroconf-enabled VNC Servers
Comment[sk]=Browse for Zeroconf-enabled VNC Servers
Comment[sl]=Browse for Zeroconf-enabled VNC Servers
Comment[sr]=Browse for Zeroconf-enabled VNC Servers
Comment[sr@latin]=Browse for Zeroconf-enabled VNC Servers
Comment[sv]=Browse for Zeroconf-enabled VNC Servers
Comment[tr]=Browse for Zeroconf-enabled VNC Servers
Comment[uk]=Browse for Zeroconf-enabled VNC Servers
Comment[zh_CN]=Browse for Zeroconf-enabled VNC Servers
Comment[zh_TW]=Browse for Zeroconf-enabled VNC Servers
Exec=/usr/bin/bvnc
Terminal=false
Type=Application
Icon=network-wired
Categories=GNOME;Network;
StartupNotify=false
Hidden=true

