[Desktop Entry]
Categories=System;Printing;HardwareSettings;X-Red-Hat-Base;
Exec=/usr/bin/xdg-open http://localhost:631/
Icon=cups
StartupNotify=false
Terminal=false
Type=Application
Name=Manage Printing
Name[af]=Manage Printing
Name[ar]=Manage Printing
Name[az]=Manage Printing
Name[bn-IN]=Manage Printing
Name[ca]=Manage Printing
Name[cs]=Manage Printing
Name[da]=Manage Printing
Name[de]=Manage Printing
Name[en_US]=Manage Printing
Name[es]=Manage Printing
Name[et]=Manage Printing
Name[eu]=Manage Printing
Name[fr]=Manage Printing
Name[he]=Manage Printing
Name[id]=Manage Printing
Name[it]=Manage Printing
Name[ja]=Manage Printing
Name[ko]=Manage Printing
Name[pl]=Manage Printing
Name[pt-PT]=Manage Printing
Name[pt_BR]=Manage Printing
Name[ru]=Manage Printing
Name[sq]=Manage Printing
Name[sv]=Manage Printing
Name[th]=Manage Printing
Name[tr]=Manage Printing
Name[uz]=Manage Printing
Name[zh]=Manage Printing
Name[zh_TW]=Manage Printing
Comment=CUPS Web Interface
Comment[af]=CUPS Web Interface
Comment[ar]=CUPS Web Interface
Comment[az]=CUPS Web Interface
Comment[bn-IN]=CUPS Web Interface
Comment[ca]=CUPS Web Interface
Comment[cs]=CUPS Web Interface
Comment[da]=CUPS Web Interface
Comment[de]=CUPS Web Interface
Comment[en_US]=CUPS Web Interface
Comment[es]=CUPS Web Interface
Comment[et]=CUPS Web Interface
Comment[eu]=CUPS Web Interface
Comment[fr]=CUPS Web Interface
Comment[he]=CUPS Web Interface
Comment[id]=CUPS Web Interface
Comment[it]=CUPS Web Interface
Comment[ja]=CUPS Web Interface
Comment[ko]=CUPS Web Interface
Comment[pl]=CUPS Web Interface
Comment[pt-PT]=CUPS Web Interface
Comment[pt_BR]=CUPS Web Interface
Comment[ru]=CUPS Web Interface
Comment[sq]=CUPS Web Interface
Comment[sv]=CUPS Web Interface
Comment[th]=CUPS Web Interface
Comment[tr]=CUPS Web Interface
Comment[uz]=CUPS Web Interface
Comment[zh]=CUPS Web Interface
Comment[zh_TW]=CUPS Web Interface
Hidden=true

